html/
Doxyfile
.vscode/
.pio/
**/.claude/settings.local.json
*.bak
*.txt
*.pdf
/.vs/Adafruit_INA228/FileContentIndex/f1ac3d97-fc2b-4fff-8883-eccc4b8670a1.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Adafruit_INA228/FileContentIndex/b56cf2a9-0d7e-4f5e-9bf6-406e950b474f.vsidx
/.vs/Adafruit_INA228/v17/.wsuo
/.vs/Adafruit_INA228/v17/DocumentLayout.json
/.vs/Adafruit_INA228/FileContentIndex/7bd2366c-7362-4e6c-a3d1-d96a6cac565a.vsidx
